/*This css Made by Eric Mikulin*/

.textView {
	width: 50%;
	height: 250px;
	border: 1px solid #000000;
}

.textEnter {
	width: 50%;
	height: 50px;
	border: 1px solid #000000;
}

#input {
	height: 100%;
	width: 100%;
}